<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samagra.ancillaryscreens">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.samagra.ancillaryscreens.screens.about.AboutActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name="com.samagra.ancillaryscreens.screens.passReset.OTPActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".screens.login.LoginActivity"
            android:theme="@style/LoginTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.samagra.ancillaryscreens.screens.change_password.ChangePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name="com.samagra.ancillaryscreens.screens.tutorials.TutorialActivity"
            android:theme="@style/BaseAppTheme" />

    </application>

</manifest>