<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student_details">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
        android:name=".contracts.SchoolModuleLauncherView"
            android:screenOrientation="portrait"
        android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name="com.example.student_details.ui.teacher_aggregate.MainActivity"
            android:label="rfvrfvftv"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
        android:name="com.example.student_details.ui.SSS"
        android:label="rfvrfvssftv"
        android:screenOrientation="portrait"
        android:theme="@style/MyMaterialTheme"/>
        <activity
        android:name="com.example.student_details.ui.shikshamitr.ui.ShikshaMitrSummaryView"
        android:label="rfvrfvssftv"  android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
        android:theme="@style/LoginTheme"/>

        <activity
            android:name="com.example.student_details.ui.employee_aggregate.ViewEmployeeAttendance"
            android:label="fvfr"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
    </application>

</manifest>